@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --chevron: #e4f7e3;
  --light: #F5F6F1;
  --dark: #1F1D12;
  --khaki: #D8CDA1;
  --blue: #DFEBF7;
  --darker-blue: #0080FF;
  --black: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: normal 16pt/21pt "Work Sans", serif;
  background: url('/assets/hero.webp') var(--khaki);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  ackground-color: var(--chevron);
  ackground-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='200' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(268) scale(0.14)'%3E%3Cpath id='a' data-color='fill' fill='none' stroke='%23FFF' stroke-width='9.97' d='M50 100L0 50V0l50 50 50-50h0v50l-50 50z'%3E%3C/path%3E%3Cuse xlink:href='%23a' x='100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='50'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='-100'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='200'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
}

article {
  color: var(--light);
}

div.content {
  max-width: 640px;
  margin: 0 auto;
}
h2, h3 {
  margin: 0 0 12pt;
  font-weight: bold;
}
h2 {
  font-size: 24pt;
  line-height: 32pt;
}
h3 {
  margin-top: 48px;
  font-size: 16pt;
  line-height: 21pt;
  text-align: center;
}
p {
  margin: 0 0 16pt;
  padding: 0;
  line-height: 1.5;
}
b {
  font-weight: normal;
  background: yellow;
}
dt {
  margin: 24pt 0 8pt;
  font-weight: bold;
}
dd {
  line-height: 1.5;
}

div.content {
  padding: 80px 40px;
}

section:first-of-type h2 {
  margin-top: 0;
}
section:nth-child(even) {
  background: var(--light);
  color: var(--dark);;
}
section:nth-child(even) a {
  color: var(--dark);
}
section:nth-child(odd) {
  background: var(--dark);
  color: var(--light);
}
section:nth-child(odd) a {
  color: var(--light);
}

table {
  font-size: 14pt;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
th {
  white-space: nowrap;
}
th.pad {
  padding: 0 10px;
}
th.right {
  text-align: right;
}
td span {
  visibility: hidden;
}

ul {
  width: 100%;
}
li {
  display: block;
  list-style: none;
}
li img {
  display: block;
  height: 48px;
}

.hero h1 {
  color: white;
  padding: 100px 0 20px 10%;
  font: bold 10vw/10vw "Work Sans";
  white-space: nowrap;
  text-shadow:
         4px 4px 0 var(--black),
       -1px -1px 0 var(--black),
        1px -1px 0 var(--black),
        -1px 1px 0 var(--black),
         1px 1px 0 var(--black),
         0px 0px 30px white;
}
.hero h2 {
  padding: 20px 0 100px 10%;
  font: normal 5vw/5vw "Work Sans";
  white-space: nowrap;
  color: white;
  text-shadow:
         2px 2px 0 var(--black),
       -1px -1px 0 var(--black),
        1px -1px 0 var(--black),
        -1px 1px 0 var(--black),
         1px 1px 0 var(--black),
         0px 0px 20px white;
}

.intro {
  display: block;
}
.intro img {
  float: left;
  width: 40%;
  margin: 6px 20px 6px 0;
  border: 4px solid var(--dark);
}

.footer ul {
  width: 40%;
  min-width: 256px;
  columns: 4; /* should match number of icons */
  margin: 0 auto;
}
.footer li img {
  height: 32px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  div.content {
    padding: 80px 40px;
  }
  .companies ul {
    columns: 2;
  }
}
@media (min-width: 650px) {
  div.content {
    padding: 80px 35px;
  }
}
@media (min-width: 660px) {
  div.content {
    padding: 80px 30px;
  }
}
@media (min-width: 670px) {
  div.content {
    padding: 80px 25px;
  }
  .book a {
    columns: 2;
  }
}
@media (min-width: 680px) {
  div.content {
    padding: 80px 20px;
  }
}
@media (min-width: 690px) {
  div.content {
    padding: 80px 15px;
  }
}
@media (min-width: 700px) {
  div.content {
    padding: 80px 10px;
  }
}
@media (min-width: 710px) {
  div.content {
    padding: 80px 5px;
  }
}
@media (min-width: 720px) {
  div.content {
    padding: 80px 0px;
  }
}

@media (max-width: 874px) {
  /* image is 1904 x 640, so at 294 height the width is 874 */
  body {
    background-size: auto 294px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% top;
  }
}

@media (max-width: 945px) {
  h1 {
    font-size: 94px;
    line-height: 94px;
  }
}
