@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400&family=Yatra+One&display=swap");

:root {
  --white: #f0eadb;
  --black: #283124;
  --green: #404e3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font:
    normal 16pt/21pt "Work Sans",
    serif;
  background: url("/assets/hero.webp") var(--white);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

article {
  color: var(--white);
}

div.content {
  max-width: 640px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font: normal 18pt/24pt "Yatra One";
  margin: 0 0 12pt;
}
h2 {
  font-size: 24pt;
  line-height: 32pt;
}
h3 {
  margin-top: 48px;
  font-size: 16pt;
  line-height: 21pt;
  text-align: center;
}
p {
  margin: 0 0 16pt;
  padding: 0;
  line-height: 1.5;
}
b {
  font-weight: normal;
  background: yellow;
}
dt {
  margin: 24pt 0 8pt;
  font-weight: bold;
}
dd {
  line-height: 1.5;
}

div.content {
  padding: 80px 40px;
}

section:first-of-type h2 {
  margin-top: 0;
}
section:nth-child(even) {
  background: var(--white);
  color: var(--black);
}
section:nth-child(even) h2,
section:nth-child(even) a {
  color: var(--green);
}
section:nth-child(odd) {
  background: var(--black);
  color: var(--white);
}
section:nth-child(odd) a {
  color: var(--white);
}

ul {
  width: 100%;
}
li {
  display: block;
  list-style: none;
}
li img {
  display: block;
  height: 48px;
}

.hero {
  color: var(--black);
  background: radial-gradient(
    farthest-corner at 13% 25vw,
    rgba(240, 234, 219, 1),
    rgba(240, 234, 219, 0) 100%
  );
}
.hero h1 {
  padding: 10vw 0 2vw 10%;
  font: normal 10vw/10vw "Yatra One";
  white-space: nowrap;
}

.hero h2 {
  padding: 2vw 0 10vw 10%;
  margin: 0;
  font: normal 5vw/5vw "Yatra One";
  white-space: nowrap;
}

.intro img {
  float: left;
  width: 30%;
  margin: 6px 20px 6px 0;
  border: 4px solid var(--black);
}

.footer ul {
  width: 40%;
  min-width: 256px;
  columns: 4; /* should match number of icons */
  margin: 0 auto;
}
.footer li img {
  height: 32px;
  margin: 0 auto;
}
