---
---

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400&family=Yatra+One&display=swap");

:root {
  --white: #f0eadb;
  --black: #283124;
  --green: #404e3a;
  --yellow: #ffff90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font:
    normal 14pt/150% "Work Sans",
    sans-serif;

  &.homepage {
    background: url("/assets/hero.webp") var(--white);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.content {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding: 80px 40px;
}

h1 {
  font: normal 26pt/115% "Yatra One";
}
h2 {
  font: normal 20pt/150% "Yatra One";
  padding: 24pt 0 9pt;
  &:first-child {
    padding: 0;
  }
}
h3 {
  font: normal 16pt/150% "Work Sans";
  padding: 36pt 0 7pt;
  h2 + & {
    padding-top: 0;
  }
}
p + p,
p + div {
  padding: 16pt 0 0;
}
blockquote {
  border-left: 1px solid var(--black);
  margin: 16pt 0;
  padding: 0 0 0 9pt;
}

.meta {
  color: var(--green);
  font-size: 10pt;
}

a.read-more {
  display: block;
  margin: 12pt 0 0;
  float: right;
}

b,
strong {
  font-weight: normal;
  background: var(--yellow);
}

.youtube {
  /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */

  .outer {
    width: 100%;
    position: relative;

    &.aspect-ratio-16-9 {
      padding-top: 56.25%;
    }
    .inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }
  }
}

.clear {
  clear: both;
}

header {
  .content {
    height: 100%;
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
    h1 {
      span {
        white-space: nowrap; /* work around zero-width &nbsp; in font */
      }
    }
  }

  a {
    color: var(--black) !important;
    text-decoration: none;
  }
}

.homepage {
  header {
    height: 50vw; /* hero is 2:1 ratio */
    color: var(--black);
    background: radial-gradient(
      farthest-corner at 38.2% 61.8%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );

    .content {
      padding: 20vw 40px 0;

      h1 {
        font-size: 36pt;
      }

      h2 {
        font-size: 18pt;
        padding-top: 9pt;
        white-space: nowrap;
      }
    }
  }

  h3 {
    padding: 18pt 0 6pt;
  }

  section {
    background: var(--white);
    color: var(--black);
  }

  .intro {
    background: var(--black);
    color: var(--white);

    a {
      color: var(--white);
      &.sentry {
        &::before {
          content: "   ";
          white-space: pre;
        }
        display: inline-block;
        background: no-repeat url("/assets/sentry.svg");
        background-size: auto 50%;
        background-position: left 45%;
      }
    }

    img.headshot {
      float: left;
      width: 33% !important;
      margin: 6px 40px 6px 0;
      border-radius: 10px;
      border: 2px solid var(--white);
    }
  }
}

.inside-page {
  background: url("/assets/banner.webp") var(--white);
  background-color: var(--black);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  header {
    height: 17.6432291666667vw; /* goofy aspect ratio on banner.webp */

    background: radial-gradient(
      farthest-corner at 20% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 133%
    );

    .content {
      padding-top: 7vw;

      h1 {
        font-size: 26pt;
      }
      h2 {
        display: none;
      }
    }
  }
  article {
    background: var(--white);
    color: var(--black);
    a {
      color: var(--black);
    }
  }
}

footer {
  background: var(--black);
  color: var(--white);

  a {
    color: var(--white);
  }

  p {
    padding: 0 0 36pt;
    text-align: center;
  }

  ul {
    width: 60%;
    min-width: 192px;
    columns: 5; /* should match number of icons */
    margin: 0 auto;

    li {
      display: block;
      list-style: none;

      img {
        display: block;
        margin: 0 auto;
        height: 32px;
      }
    }
  }
}

@media (max-width: 640px) {
  .homepage header .content {
    h1 {
      font-size: 7vw;
    }
    h2 {
      font-size: 4vw;
    }
  }
  .inside-page header .content {
    h1 {
      font-size: 5vw;
    }
  }
  body {
    font-size: 15pt;
  }
  img.headshot {
    margin-right: 25px;
  }
  .content {
    padding: 40px;
  }
}
@media (max-width: 440px) {
  body {
    font-size: 13pt;
  }
  .inside-page header .content {
    h1 {
      font-size: 4.8vw; /* based on experience at vw=320px */
    }
  }
  footer ul li img {
    height: 24px;
  }
}

#too-small {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  padding: 49vh 0 0 49vw;
}
@media (max-width: 319px) {
  header,
  article,
  footer {
    display: none;
  }
  #too-small {
    display: block;
  }
}
