---
---

/*==============================================================================

Do not capitalize:

    - the articles a, an, and the;

    - the prepositions or adverbs at, by, for, of, in, up, on, and to;

    - and the conjunctions and, as, but, if, or, and nor.

In effect, this rule means that words of four or more letters are
considered principal words and are capitalized.

(http://www.publication.com/aylad/capitalization.htm)

==============================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: Czarin;
  src: url("/assets/Czarin-Medium.otf");
}


:root {
  --white: #f0eadb;
  --black: #283124;
  --gray: #797B6B;
  --green: #404e3a;
  --yellow: #ffff90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font:
    normal 14pt/150% "Work Sans",
    sans-serif;
}

.content {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding: 80px 40px;
  overflow: auto;
}

h1 {
  font: normal 26pt/115% Czarin;
  text-transform: uppercase;
}
h2 {
  font: normal 26pt/115% Czarin;
  padding: 42pt 0 9pt;
  &.title {
    padding: 0;
  }
}
h3 {
  font: normal 16pt/130% "Work Sans";
  padding: 32pt 0 7pt;
  h2 + & {
    padding-top: 0;
  }
}
h4 {
  font: bold 12pt/150% "Work Sans";
  text-transform: uppercase;
  padding: 32pt 0 7pt;
  h3 + & {
    padding-top: 0;
  }
}
ol + p,
ul + p,
p + p,
div + p,
ol + div,
ul + div,
p + div {
  padding: 16pt 0 0;
}
blockquote {
  border-left: 1px solid var(--black);
  margin: 16pt 0;
  padding: 0 0 0 9pt;
  & > ol,
  & > ul {
    padding-top: 0;
  }
}

hr {
  border: 0;
  margin: 24pt 0 24pt 49%;
  &::before {
    content: "❧";
    color: var(--green);
  }
}

.meta,
.disclosure {
  color: var(--green);
  font-size: 10pt;
  line-height: 130%;
}
.disclosure {
  text-align: right;
  margin: 12pt 0;
}
.series {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      &::before {
        visibility: hidden;
        content: "▶";
        font-size: 8pt;
      }
      &.current::before {
        visibility: visible;
      }
      a {
        text-decoration: none;
        &::hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.draft {
  font:
    normal 18pt/120% "Comic Sans MS",
    serif;
  color: red;
  text-transform: uppercase;
  margin: 0 0 36pt;
}

a.read-more {
  display: block;
  margin: 12pt 0 0;
  float: right;
}

b {
  font-weight: 537;
}
strong {
  font-weight: normal;
  background: var(--yellow);
}

img.float-left {
  float: left;
  width: 33% !important;
  margin: 6px 40px 6px 0 !important;
  border-radius: 10px;
  border: 2px solid var(--green);
}

ul,
ol {
  padding: 8pt 0 0 16pt;
  ul,
  ol {
    padding-top: 0;
  }
  li {
    padding: 8pt 0 0;
  }
}

table {
  margin: 8pt 0 16pt;
  td {
    vertical-align: top;
  }
  th, td:first-child  {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 12pt;
  }
}

.youtube {
  /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */

  .outer {
    width: 100%;
    position: relative;

    &.aspect-ratio-16-9 {
      padding-top: 56.25%;
    }
    .inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

form.buttondown {
  text-align: center;
  margin: 16pt 0;

  input {
    font: 12pt/18pt "Work Sans";
    padding: 3pt 12pt;
  }

  button {
    background: var(--white);
    color: var(--black);
    font: 12pt/18pt "Work Sans";
    padding: 3pt 12pt;
    border: 1px solid var(--white);
    border-radius: 4px;
    margin: 6pt 0 0 3pt;
    cursor: pointer;
  }
  .powered-by {
    font-size: 10pt;
  }
}

header {
  display: flex;
  align-items: center;
  background: radial-gradient(
    farthest-corner at 38.2% 61.8%,
    rgba(240, 234, 219, 1),
    rgba(240, 234, 219, 0) 100%
  ), url("/assets/hero.webp"), #efebdd;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  .content {
    flex: 1;
    overflow: visible;
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
    h1 {
      span {
        white-space: nowrap; /* work around zero-width &nbsp; in font */
      }
    }
    h2 {
      color: var(--gray);
    }
  }

  a.content {
    color: var(--black) !important;
    text-decoration: none;
  }
  h2 a {
    text-decoration: underline;
  }
}

.homepage {
  header {
    min-height: 50vw; /* hero is 2:1 ratio */
    color: var(--black);

    .content {
      h1 {
        font-size: 72pt;
      }

      h2 {
        font-size: 27pt;
        padding-top: 9pt;
      }
    }
    .youtube {
      margin-top: 18pt;
    }
    .playlist-link {
      display: block;
      text-align: right;
      margin: 24pt 0 0;
      a {
        background: rgba(240, 234, 219, 0.5); // white
        font-size: larger;
        font-weight: bold;
        padding: 6pt 12pt;
      }
    }
  }

  section {
    background: var(--white);
    color: var(--black);
  }

  .intro {
    background: var(--black);
    color: var(--white);
    img {
      border-color: var(--white);
    }

    a {
      color: var(--white);
      &.sentry {
        &::before {
          content: "   ";
          white-space: pre;
        }
        display: inline-block;
        background: no-repeat url("/assets/sentry.svg");
        background-size: auto 50%;
        background-position: left 45%;
      }
    }
  }

  .browse-all {
    margin-top: 18pt;
    text-align: right;
  }
}

.blog-post-listing {
  h3 {
    padding: 18pt 0 6pt;
  }
  &:first-of-type {
    h3 {
      padding-top: 0;
    }
  }
}

.inside-page {
  background: url("/assets/banner.webp") var(--white);
  background-color: var(--black);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  header {
    height: 17.6432291666667vw; /* goofy aspect ratio on banner.webp */

    .content {
      h1 {
        font-size: 26pt;
      }
    }
  }
  article {
    background: var(--white);
    color: var(--black);
    .tldr,
    .series,
    .update,
    .replies {
      display: block;
      position: relative;
      span {
        text-transform: uppercase;
        font-size: 8pt;
        line-height: 8pt;
        display: block;
        position: absolute;
        top: 18pt;
        left: 11pt;
      }
      margin: 12pt 0 0;
      padding: 12pt 12pt 12pt 50pt;
      border-radius: 6pt;

      &.tldr {
        background: var(--green);
      }
      &.replies {
        margin-top: 42pt;
        background: var(--green);
      }
      &.series {
        background: var(--black);
      }
      &.update {
        background: var(--black);
      }
      color: var(--white);
      span {
        color: var(--yellow);
      }
      a {
        color: var(--white);
      }
      blockquote {
        border-left-color: var(--white);
      }
    }
    .img {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      img {
        &.landscape {
          width: 100%;
        }
        &.portrait {
          width: 60%;
        }
        margin: 8pt auto;
        display: block;
      }
      .caption {
        color: var(--green);
        font-size: 10pt;
        line-height: 130%;
        text-align: right;
      }
    }
  }
}

footer {
  background: var(--black);
  color: var(--white);

  a {
    color: var(--white);
  }

  p {
    text-align: center;
  }

  ul {
    width: 60%;
    min-width: 192px;
    columns: 5; /* should match number of icons */
    margin: 0 auto;
    padding: 0;

    li {
      display: block;
      list-style: none;

      img {
        display: block;
        margin: 0 auto;
        height: 32px;
      }
    }
  }
}

@media (max-width: 640px) {
  .homepage header {
    .content {
      h1 {
        font-size: 14vw;
      }
      h2 {
        font-size: 5.5vw;
      }
    }
  }
  body {
    font-size: 15pt;
  }
  img.float-left {
    margin-right: 25px;
  }
  .content {
    padding: 40px;
  }
}

@media (max-width: 530px) { .homepage header .content h2 { font-size: 5.4vw; } }
@media (max-width: 500px) { .homepage header .content h2 { font-size: 5.3vw; } }
@media (max-width: 470px) { .homepage header .content h2 { font-size: 5.2vw; } }
@media (max-width: 440px) { .homepage header .content h2 { font-size: 5.1vw; } }
@media (max-width: 410px) { .homepage header .content h2 { font-size: 5.0vw; } }
@media (max-width: 380px) { .homepage header .content h2 { font-size: 4.9vw; } }
@media (max-width: 350px) { .homepage header .content h2 { font-size: 4.8vw; } }

@media (max-width: 440px) {
  body {
    font-size: 13pt;
  }
  footer ul li img {
    height: 24px;
  }
}

#too-small {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  padding: 49vh 0 0 49vw;
}
@media (max-width: 319px) {
  header,
  article,
  footer {
    display: none;
  }
  #too-small {
    display: block;
  }
}


.bsky {
  .bsky-message {
    font-size: 10pt;
    position: relative;
    top: -1pt;
  }
  .bsky-meta {
    opacity: 0.5;
    &:hover {
      opacity: 1.0;
    }
    font-size: 10pt;
    line-height: 10pt;
    padding: 3pt 0;
    &.bsky-top {
      position: relative;
      top: -2pt;
    }
    text-decoration: none;
    .bsky-group {
      display: inline-block;
      white-space: nowrap;
    }
    .bsky-icon {
      width: 12pt;
      height: 12pt;
    }
    .bsky-avatar {
      height: 12pt;
      width: 12pt;
      border-radius: 9999px;
      border: 1px solid var(--white);
    }
    img, svg {
      position: relative;
      top: 2.5pt;
    }
    svg {
      margin-left: 3pt;
    }
  }
  .bsky-reply {
    margin: 12pt 0;
    .bsky-text {
      text-decoration: none;
    }
    .bsky-replies {
      padding-left: 16pt;
    }
  }

  .bsky-load-more {
    background: var(--white);
    color: var(--black);
    font: 12pt/18pt "Work Sans";
    padding: 3pt 12pt;
    border: 1px solid var(--white);
    border-radius: 4px;
    cursor: pointer;
    margin: 40pt 0;
    display: block;
  }
}
