---
---

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400&family=Yatra+One&display=swap");

:root {
  --white: #f0eadb;
  --black: #283124;
  --green: #404e3a;
  --yellow: #ffff90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font:
    normal 16pt/150% "Work Sans",
    sans-serif;

  &.homepage {
    background: url("/assets/hero.webp") var(--white);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.content {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding: 80px 40px;
}

h2 {
  font: normal 24pt/150% "Yatra One";
  margin: 0 0 0.5vw;
}
h3 {
  font: normal 21pt/150% "Work Sans";
  margin: 18pt 0 6pt;
}
p {
  margin: 0 0 16pt;
  padding: 0;
}

.meta {
  color: var(--green);
  font-size: 10pt;
  margin-bottom: 18pt;
}

img.headshot {
  float: left;
  width: 33% !important;
  margin: 6px 40px 6px 0;
  border-radius: 3px;
}

a.read-more {
  display: block;
  margin: 12pt 0 0;
  float: right;
}

b,
strong {
  font-weight: normal;
  background: var(--yellow);
}

.youtube {
  /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
  &.aspect-ratio-16-9 {
    padding-top: 56.25%;
  }

  width: 100%;
  position: relative;

  .youtube-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
}

.clear {
  clear: both;
}

header {
  .content {
    height: 100%;
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
    h1 {
      font: normal 26pt/115% "Yatra One";
      span {
        white-space: nowrap; /* work around zero-width &nbsp; in font */
      }
    }
  }

  a {
    color: var(--black) !important;
    text-decoration: none;
  }
}

.homepage {
  header {
    height: 50vw; /* hero is 2:1 ratio */
    color: var(--black);
    background: radial-gradient(
      farthest-corner at 33% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );

    .content {
      padding: 20vw 40px 0;

      h1 {
        font-size: 36pt;
      }

      h2 {
        padding-top: 2vw;
        font-size: 3vw;
        line-height: 3vw;
        white-space: nowrap;
      }
    }
  }

  h3 {
  }

  section {
    background: var(--white);
    color: var(--black);
  }

  .stream {
    background: var(--black);
    color: var(--white);

    a {
      color: var(--white);
    }
  }
}

.inside-page {
  background: url("/assets/banner.webp") var(--white);
  background-color: var(--black);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  header {
    height: 17.6432291666667vw; /* goofy aspect ratio on banner.webp */

    background: radial-gradient(
      farthest-corner at 20% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 133%
    );

    .content {
      padding-top: 7vw;

      h1 {
        font-size: 26pt;
      }
      h2 {
        display: none;
      }
    }
  }
  article {
    background: var(--white);
    color: var(--black);
    a {
      color: var(--black);
    }
    h3 {
      margin-top: 36pt;
    }
  }
}

footer {
  background: var(--black);
  color: var(--white);

  a {
    color: var(--white);
  }

  p {
    margin: 0 0 36pt;
    padding: 0;
    text-align: center;
  }

  ul {
    width: 60%;
    min-width: 320px;
    columns: 4; /* should match number of icons */
    margin: 0 auto;

    li {
      display: block;
      list-style: none;

      img {
        display: block;
        margin: 0 auto;
        height: 32px;
      }
    }
  }
}

@media (max-width: 640px) {
  .inside-page {
    header h1 {
      font-size: 5vw;
    }
  }
  body {
    font-size: 15pt;
  }
  img.headshot {
    margin-right: 25px;
  }
  .content {
    padding: 40px;
  }
  article {
    h2 {
      font: normal 16pt/21pt "Yatra One";
      margin: 0 0 9pt;
    }
    h3 {
      font: normal 14pt/19pt "Work Sans";
      margin: 24pt 0 7pt;
    }
  }
}
@media (max-width: 440px) {
  body {
    font-size: 13pt;
  }
}

#too-small {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  padding: 49vh 0 0 49vw;
}
@media (max-width: 319px) {
  header,
  article,
  footer {
    display: none;
  }
  #too-small {
    display: block;
  }
}
