---
---

/*==============================================================================

Do not capitalize:

    - the articles a, an, and the;

    - the prepositions or adverbs at, by, for, of, in, up, on, and to;

    - and the conjunctions and, as, but, if, or, and nor.

In effect, this rule means that words of four or more letters are
considered principal words and are capitalized.

(http://www.publication.com/aylad/capitalization.htm)

==============================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap");

:root {
  --white: #f0eadb;
  --black: #283124;
  --green: #404e3a;
  --yellow: #ffff90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font:
    normal 14pt/150% "Work Sans",
    sans-serif;

  &.homepage {
    background: url("/assets/hero.webp") var(--white);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.content {
  display: block;
  max-width: 640px;
  margin: 0 auto;
  padding: 80px 40px;
}

h1 {
  font: normal 26pt/115% "Yatra One";
}
h2 {
  font: normal 20pt/130% "Yatra One";
  padding: 24pt 0 9pt;
  &:first-child {
    padding: 0;
  }
}
h3 {
  font: normal 16pt/130% "Work Sans";
  padding: 36pt 0 7pt;
  h2 + & {
    padding-top: 0;
  }
}
ol + p,
ul + p,
p + p,
div + p,
p + div {
  padding: 16pt 0 0;
}
blockquote {
  border-left: 1px solid var(--black);
  margin: 16pt 0;
  padding: 0 0 0 9pt;
}

hr {
  border: 0;
  margin: 24pt 0 24pt 49%;
  &::before {
    content: "❧";
    color: var(--green);;
  }
}


.meta, .disclosure {
  color: var(--green);
  font-size: 10pt;
  line-height: 130%;
}
.disclosure {
  text-align: right;
  margin: 12pt 0;
}
.series {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      &::before {
        visibility: hidden;
        content: '▶';
        font-size: 8pt;
      }
      &.current::before {
        visibility: visible;
      }
      a {
        text-decoration: none;
        &::hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.draft {
  font: normal 18pt/120% "Comic Sans MS", serif;
  color: red;
  text-transform: uppercase;
  margin: 0 0 36pt;
}

a.read-more {
  display: block;
  margin: 12pt 0 0;
  float: right;
}

b {
  font-weight: 537;
}
strong {
  font-weight: normal;
  background: var(--yellow);
}

img.float-left {
  float: left;
  width: 33% !important;
  margin: 6px 40px 6px 0 !important;
  border-radius: 10px;
  border: 2px solid var(--green);
}

ul,
ol {
  padding: 8pt 0 0 16pt;
  li {
    padding: 8pt 0 0;
  }
}

.youtube {
  /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */

  .outer {
    width: 100%;
    position: relative;

    &.aspect-ratio-16-9 {
      padding-top: 56.25%;
    }
    .inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

.ml-embedded {
  padding: 16pt 0;
}
.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 0 !important;
  .ml-form-successContent {
    margin: 24pt auto !important;
    text-align: center !important;
    h4 {
      display: inline !important;
      margin: 0 !important;
      text-align: center !important;
      color: var(--white) !important;
      font: normal 14pt/150% "Work Sans" !important;
    }
    h4::after {
      content: " Check your inbox to confirm.";
    }
    p {
      display: none;
    }
  }
}

.clear {
  clear: both;
}

header {
  .content {
    height: 100%;
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
    h1 {
      span {
        white-space: nowrap; /* work around zero-width &nbsp; in font */
      }
    }
  }

  a {
    color: var(--black) !important;
    text-decoration: none;
  }
}

.homepage {
  header {
    height: 50vw; /* hero is 2:1 ratio */
    color: var(--black);
    background: radial-gradient(
      farthest-corner at 38.2% 61.8%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );

    .content {
      padding: 20vw 40px 0;

      h1 {
        font-size: 36pt;
      }

      h2 {
        font-size: 18pt;
        padding-top: 9pt;
        white-space: nowrap;
      }
    }
  }

  .update {
    h3 {
      padding: 18pt 0 6pt;
    }
    &:first-of-type {
      h3 {
        padding-top: 0;
      }
    }
  }

  section {
    background: var(--white);
    color: var(--black);
  }

  .intro {
    background: var(--black);
    color: var(--white);
    img {
      border-color: var(--white);
    }

    a {
      color: var(--white);
      &.sentry {
        &::before {
          content: "   ";
          white-space: pre;
        }
        display: inline-block;
        background: no-repeat url("/assets/sentry.svg");
        background-size: auto 50%;
        background-position: left 45%;
      }
    }
  }
}

.inside-page {
  background: url("/assets/banner.webp") var(--white);
  background-color: var(--black);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  header {
    height: 17.6432291666667vw; /* goofy aspect ratio on banner.webp */

    background: radial-gradient(
      farthest-corner at 20% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 133%
    );

    .content {
      padding-top: 7vw;

      h1 {
        font-size: 26pt;
      }
      h2 {
        display: none;
      }
    }
  }
  article {
    background: var(--white);
    color: var(--black);
    .tldr,
    .series,
    .update {
      display: block;
      position: relative;
      span {
        text-transform: uppercase;
        font-size: 8pt;
        line-height: 8pt;
        display: block;
        position: absolute;
        top: 18pt;
        left: 11pt;
      }
      margin: 12pt 0 0;
      padding: 12pt 12pt 12pt 50pt;
      border-radius: 6pt;

      &.tldr {
        background: var(--green);
      }
      &.series {
        background: var(--black);
      }
      &.update {
        background: var(--black);
      }
      color: var(--white);
      span {
        color: var(--yellow);
      }
      a {
        color: var(--white);
      }
      blockquote {
        border-left-color: var(--white);
      }
    }
    .img {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      img {
        &.landscape {
          width: 100%;
        }
        &.portrait {
          width: 60%;
        }
        margin: 8pt auto;
        display: block;
      }
      .caption {
        color: var(--green);
        font-size: 10pt;
        line-height: 130%;
        text-align: right;
      }
    }
  }
}

footer {
  background: var(--black);
  color: var(--white);

  a {
    color: var(--white);
  }

  p {
    text-align: center;
  }

  ul {
    width: 60%;
    min-width: 192px;
    columns: 4; /* should match number of icons */
    margin: 0 auto;
    padding: 0;

    li {
      display: block;
      list-style: none;

      img {
        display: block;
        margin: 0 auto;
        height: 32px;
      }
    }
  }
}

@media (max-width: 640px) {
  .homepage header {
    background: radial-gradient(
      farthest-corner at 25% 61.8%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );

    .content {
      h1 {
        font-size: 7vw;
      }
      h2 {
        font-size: 3.5vw;
      }
    }
  }
  .inside-page header .content {
    h1 {
      font-size: 5vw;
    }
  }
  body {
    font-size: 15pt;
  }
  img.float-left {
    margin-right: 25px;
  }
  .content {
    padding: 40px;
  }
}
@media (max-width: 440px) {
  body {
    font-size: 13pt;
  }
  .inside-page header .content {
    h1 {
      font-size: 4.8vw; /* based on experience at vw=320px */
    }
  }
  footer ul li img {
    height: 24px;
  }
}

#too-small {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  padding: 49vh 0 0 49vw;
}
@media (max-width: 319px) {
  header,
  article,
  footer {
    display: none;
  }
  #too-small {
    display: block;
  }
}
