@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400&family=Yatra+One&display=swap');


:root {
  --chevron: #e4f7e3;
  --light: #F0EADB;
  --white: #F0EADB;
  --dark: #1F1D12;
  --blue: #DFEBF7;
  --darker-blue: #0080FF;
  --black: #283124;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: normal 16pt/21pt "Work Sans", serif;
  background: url('/assets/hero.webp') var(--light);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;

  ackground-color: var(--chevron);
  ackground-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='p' width='200' height='100' patternUnits='userSpaceOnUse' patternTransform='rotate(268) scale(0.14)'%3E%3Cpath id='a' data-color='fill' fill='none' stroke='%23FFF' stroke-width='9.97' d='M50 100L0 50V0l50 50 50-50h0v50l-50 50z'%3E%3C/path%3E%3Cuse xlink:href='%23a' x='100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='100' y='50'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='-100'%3E%3C/use%3E%3Cuse xlink:href='%23a' y='100'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='200'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='-50'%3E%3C/use%3E%3Cuse xlink:href='%23a' x='-100' y='50'%3E%3C/use%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25'%3E%3C/rect%3E%3C/svg%3E");
}

article {
  color: var(--light);
}

div.content {
  max-width: 640px;
  margin: 0 auto;
}
h1, h2, h3 {
  font: normal 18pt/24pt "Yatra One";
  margin: 0 0 12pt;
}
h2 {
  font-size: 24pt;
  line-height: 32pt;
}
h3 {
  margin-top: 48px;
  font-size: 16pt;
  line-height: 21pt;
  text-align: center;
}
p {
  margin: 0 0 16pt;
  padding: 0;
  line-height: 1.5;
}
b {
  font-weight: normal;
}
dt {
  margin: 24pt 0 8pt;
  font-weight: bold;
}
dd {
  line-height: 1.5;
}

div.content {
  padding: 80px 40px;
}

section:first-of-type h2 {
  margin-top: 0;
}
section:nth-child(even) {
  background: var(--light);
  color: var(--dark);;
}
section:nth-child(even) a {
  color: var(--dark);
}
section:nth-child(odd) {
  background: var(--dark);
  color: var(--light);
}
section:nth-child(odd) a {
  color: var(--light);
}

table {
  font-size: 14pt;
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
th {
  white-space: nowrap;
}
th.pad {
  padding: 0 10px;
}
th.right {
  text-align: right;
}
td span {
  visibility: hidden;
}

ul {
  width: 100%;
}
li {
  display: block;
  list-style: none;
}
li img {
  display: block;
  height: 48px;
}
.hero {
  color: var(--black);
  background: radial-gradient(
    farthest-corner at 13% 25vw,
    rgba(240, 234, 219, 1.0),
    rgba(240, 234, 219, 0.0) 100%
  );
}
.hero h1 {
  padding: 10vw 0 2vw 10%;
  font: normal 10vw/10vw "Yatra One";
  white-space: nowrap;
}

.hero h2 {
  padding: 2vw 0 10vw 10%;
  margin: 0;
  font: normal 5vw/5vw "Yatra One";
  white-space: nowrap;
}

.intro {
  display: block;
}
.intro img {
  float: left;
  width: 40%;
  margin: 6px 20px 6px 0;
  border: 4px solid var(--dark);
}

.footer ul {
  width: 40%;
  min-width: 256px;
  columns: 4; /* should match number of icons */
  margin: 0 auto;
}
.footer li img {
  height: 32px;
  margin: 0 auto;
}
