---
---

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,400&family=Yatra+One&display=swap");

:root {
  --white: #f0eadb;
  --black: #283124;
  --green: #404e3a;
  --yellow: #ffff90;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font:
    normal 16pt/21pt "Work Sans",
    sans-serif;
  background: url("/assets/hero.webp") var(--white);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div.content {
  max-width: 640px;
  margin: 0 auto;
  padding: 80px 40px;
}

h2 {
  font: normal 24pt/32pt "Yatra One";
  margin: 0 0 12pt;
}
h3 {
  font: normal 16pt/21pt "Work Sans";
  margin: 36pt 0 6pt;
}
p {
  margin: 0 0 16pt;
  padding: 0;
  line-height: 1.5;
}
b {
  font-weight: normal;
  background: var(--yellow);
}

ul {
  width: 100%;
}
li {
  display: block;
  list-style: none;

  img {
    display: block;
    height: 48px;
  }
}

header {
  a {
    color: var(--black) !important;
    text-decoration: none;
  }
}

.homepage {
  header {
    height: 50vw; /* hero is 2:1 ratio */
    color: var(--black);
    background: radial-gradient(
      farthest-corner at 33% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );

    .content {
      padding: 20vw 40px 0;

      h1 {
        margin: 0;
        padding: 0;
        font: normal 36pt/42pt "Yatra One";

        br {
          display: none;
        }
      }

      h2 {
        margin: 0;
        padding: 12pt 0 0;
        font: normal 18pt/18pt "Yatra One";
        white-space: nowrap;
      }
    }
  }

  section {
    background: var(--white);
    color: var(--black);

    a {
      color: var(--black);
    }
  }

  .stream {
    background: var(--black);
    color: var(--white);

    a {
      color: var(--white);
    }
  }
}

.inside-page {
  background-color: var(--black);
  header {
    margin: 0;
    padding: 0;
    height: auto;
    padding: 24pt;

    background: radial-gradient(
      farthest-corner at 20% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );

    .content {
      padding: 40px;
      h1,
      h2 {
        margin: 0;
        padding: 0;
      }
      h1 {
        display: inline;
        font: normal 24pt/24pt "Yatra One";
        br {
          display: none;
        }
      }
      h2 {
        display: none;
      }
    }
  }
  article {
    h2 {
      font: normal 24pt/32pt "Yatra One";
    }
    background: var(--white);
    color: var(--black);
    a {
      color: var(--black);
    }
  }
}

.meta {
  color: var(--green);
  font-size: 10pt;
  margin-bottom: 24pt;
}

.intro img {
  float: left;
  width: 33%;
  margin: 6px 40px 6px 0;
  border-radius: 3px;
}

a.read-more {
  display: block;
  margin: 12pt 0 0;
  float: right;
}

.youtube {
  /* https://www.w3schools.com/howto/howto_css_aspect_ratio.asp */
  &.aspect-ratio-16-9 {
    padding-top: 56.25%;
  }

  width: 100%;
  position: relative;

  .youtube-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }
  }
}

.clear {
  clear: both;
}

footer {
  background: var(--black);
  color: var(--white);

  a {
    color: var(--white);
  }

  p {
    margin: 0 0 36pt;
    padding: 0;
    text-align: center;
  }
  ul {
    width: 60%;
    min-width: 320px;
    columns: 5; /* should match number of icons */
    margin: 0 auto;

    li img {
      height: 32px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 640px) {
  body {
    font:
      normal 15pt/18pt "Work Sans",
      sans-serif;
  }
  div.content {
    padding: 40px;
  }
  header h1 {
    font-size: 24pt;
    line-height: 30pt;
  }
  header h2 {
    font-size: 14pt;
    line-height: 14pt;
    padding: 6pt 0 0;
  }
  h2 {
    font: normal 16pt/21pt "Yatra One";
    margin: 0 0 9pt;
  }
  h3 {
    font: normal 14pt/19pt "Work Sans";
    margin: 24pt 0 7pt;
  }
}
@media (max-width: 440px) {
  body {
    font:
      normal 13pt/17pt "Work Sans",
      sans-serif;
  }
  div.content {
    padding: 40px;
  }
  header .content {
    padding: 10vw 40px 0;
  }
  header h1 br {
    display: inline;
  }
  header {
    background: radial-gradient(
      farthest-corner at 20% 50%,
      rgba(240, 234, 219, 1),
      rgba(240, 234, 219, 0) 100%
    );
  }
}

#too-small {
  display: none;
  width: 100vw;
  height: 100vh;
  background: var(--white);
  padding: 49vh 0 0 49vw;
}
@media (max-width: 319px) {
  header,
  article,
  footer {
    display: none;
  }
  #too-small {
    display: block;
  }
}
