<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Path to Sustainable Source with Chad Whitacre</title>
    <style>
      @import url("/assets/style.css?{{site.time | date: '%s'}}");
    </style>

    <!-- ty opengraph.xyz 🙏 -->
    <title>The Path to Sustainable Source with Chad Whitacre</title>
    <meta
      name="description"
      content="Conversations about balancing user freedom and developer sustainability, hosted by Chad Whitacre"
    />

    <meta
      property="og:url"
      content="https://sustainablesource.chadwhitacre.com/"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="The Path to Sustainable Source with Chad Whitacre"
    />
    <meta
      property="og:description"
      content="Conversations about balancing user freedom and developer sustainability, hosted by Chad Whitacre"
    />
    <meta
      property="og:image"
      content="https://sustainablesource.chadwhitacre.com/assets/social.webp"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content="sustainablesource.chadwhitacre.com"
    />
    <meta
      property="twitter:url"
      content="https://sustainablesource.chadwhitacre.com/"
    />
    <meta
      name="twitter:title"
      content="The Path to Sustainable Source with Chad Whitacre"
    />
    <meta
      name="twitter:description"
      content="Conversations about balancing user freedom and developer sustainability, hosted by Chad Whitacre"
    />
    <meta
      name="twitter:image"
      content="https://sustainablesource.chadwhitacre.com/assets/social.webp"
    />

    <!-- ty https://emojitofavicon.com/ 🙏 -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🥾</text></svg>"
    />
    <script
      defer
      data-domain="sustainablesource.chadwhitacre.com"
      src="https://plausible.io/js/script.js"
    ></script>
  </head>
  <body
    class="{% if page.url == '/' %}homepage{% else %}inside-page{% endif %}"
  >
    <header>
      <a href="/">
        <div class="content">
          <h1>The Path to <span>Sustainable Source</span></h1>
          <h2>with Chad Whitacre</h2>
        </div>
      </a>
    </header>
    <article>{{ content }}</article>
    <footer>
      <div class="content">
        <p>
          &copy;
          <script type="text/javascript">
            var curYear = String(new Date().getFullYear());
            document.write(curYear < "2024" ? "2023" : `2023–${curYear}`);
          </script>
          <a href="https://chadwhitacre.com/">Chad Whitacre</a> &#10087;
          <a href="/">Home</a>
        </p>
        <ul>
          <li>
            <a href="mailto:chadwhitacre@sentry.io"
              ><img src="/assets/social/email.svg" alt="Email"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/chadwhitacre_"
              ><img src="/assets/social/x.svg" alt="X"
            /></a>
          </li>
          <li>
            <a href="https://www.youtube.com/@ChadWhitacre/streams"
              ><img src="/assets/social/youtube.svg" alt="YouTube"
            /></a>
          </li>
          <li>
            <a
              href="https://github.com/chadwhitacre/sustainablesource.chadwhitacre.com"
              ><img src="/assets/social/github.svg" alt="GitHub"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
    <div id="too-small">🥺</div>
  </body>
</html>
