<!doctype html>
<html>
  <head>
    {% capture page_url %}{{ page.url | absolute_url }}{% endcapture %}
    {% capture image_url %}{{ page_url }}social.webp{% endcapture %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("/assets/style.css?{{site.time | date: '%s'}}");
    </style>
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ site.title }}"
      href="/feed.xml"
    />

    {% if page.noindex  %}
    <meta name="robots" content="noindex">
    {% endif %}

    <!-- ty opengraph.xyz 🙏 -->
    <title>
      {{ page.title }}{% if page.url != '/' %} ❧ Open Path by Chad Whitacre{%
      endif %}
    </title>
    <meta name="description" content="{{ page.excerpt }}" />

    <meta property="og:url" content="{{ page_url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt }}" />
    <meta property="og:image" content="{{ image_url }}" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="openpath.quest" />
    <meta property="twitter:url" content="{{ page_url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.excerpt }}" />
    <meta name="twitter:image" content="{{ image_url }}" />

    <!-- ty https://emojitofavicon.com/ 🙏 -->
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🥾</text></svg>"
    />
    <script
      defer
      data-domain="openpath.quest"
      src="https://plausible.io/js/script.js"
    ></script>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </head>
  <body
    class="{% if page.url == '/' %}homepage{% else %}inside-page{% endif %}"
  >
    <header>
      {% if page.url != '/' %}
      <a href="/" class="content">
      {% else %}
      <div class="content">
      {% endif %}
        <h1>Open Path</h1>
        {% if page.url == '/' %}
        <h2>First episode out now!</h2>
        {% include youtube.html video_id="g3DwMGwalrU" %}
        {% endif %}
      {% if page.url != '/' %}
      </a>
      {% else %}
      </div>
      {% endif %}
    </header>
    <article>{{ content }}</article>
    <footer>
      <div class="content">
        <p>
          &copy;
          <script type="text/javascript">
            var curYear = String(new Date().getFullYear());
            document.write(curYear <= "2024" ? "2024" : `2024–${curYear}`);
          </script>
          <a href="https://chadwhitacre.com/">Chad Whitacre</a>
          &nbsp;&#10087;&nbsp;
          <a href="/">Home</a>
        </p>
        <form class="buttondown" method="post" action="https://buttondown.com/api/emails/embed-subscribe/openpath" target="_blank">
          <input type="email" name="email" value="" placeholder="you@gmail.probably">
          <button class="button" type="submit">Subscribe for Updates</button></td>
          <div class="powered-by">
            Email updates powered by
            <a href="https://buttondown.email">Buttondown</a>.
          </div>
        </form>
        <ul>
          <li>
            <a href="/feed.xml"
              ><img src="/assets/social/rss.svg" alt="RSS"
            /></a>
          </li>
          <li>
            <a href="https://bsky.app/profile/chadwhitacre.com"
              ><img src="/assets/social/bluesky.svg" alt="Bluesky"
            /></a>
          </li>
          <li>
            <a href="https://twitter.com/chadwhitacre_"
              ><img src="/assets/social/x.svg" alt="X"
            /></a>
          </li>
          <li>
            <a href="https://github.com/chadwhitacre/openpath/issues/new"
              ><img src="/assets/social/github.svg" alt="GitHub"
            /></a>
          </li>
          <li>
            <a href="mailto:chad@zetaweb.com"
              ><img src="/assets/social/email.svg" alt="Email"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
    <div id="too-small">🥺</div>
  </body>
</html>
