---
layout: default
---

<div class="content">
  <h2>{{ page.title }}</h2>
  <div class="meta">
    By <a href="https://chadwhitacre.com/">Chad Whitacre</a> ❧ Published on {{
    page.date | date: '%B %e, %Y' }}
  </div>
  <div class="tldr"><span>tl;dr</span> {{ page.excerpt }}</div>
  {% if page.update %}<div class="update"><span>update</span>{{ page.update }}</div>{% endif %}
  <div class="disclosure">
    Disclosure / advertisement: I work for
    <a href="https://sentry.io/welcome/">Sentry</a>.
  </div>
  {{ content }}
</div>
